.popup-form__container {
    max-width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 195px auto auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 623px) {
    .popup-form__container {
        max-width: 282px;
        height: 322px;
        margin: 123px auto auto;
    }
} 